@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'voyager-heavy';
    src: url('/assets/fonts/voyager_heavy-webfont.woff2') format('woff2'),
         url('/assets/fonts/voyager_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'voyager-light';
    src: url('/assets/fonts/voyager_light-webfont.woff2') format('woff2'),
         url('/assets/fonts/voyager_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Roboto",-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100vh;
    display:flex;
}

.hero-section{
    background-image:url('/assets/images/background-image.jpg');
    width:calc((1/3)*100%);
}

.form-section{
    width:calc((2/3)*100%);
}

