@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@font-face {
    font-family: 'voyager-heavy';
    src: url('assets/fonts/voyager_heavy-webfont.woff2') format('woff2'),
         url('assets/fonts/voyager_heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'voyager-light';
    src: url('assets/fonts/voyager_light-webfont.woff2') format('woff2'),
         url('assets/fonts/voyager_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: "Roboto",-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    height: 100vh;
    display:flex;
    margin:0;
}

.hero-section, .form-section{
    height: 100%;
}

.hero-section{
    background-image:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url('assets/images/background-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width:calc((1/3)*100%);
}

.form-section{
    width:calc((2/3)*100%);
}

.hero-logo{
    display:flex;
}

.hero-logo img{
    height:200px;
    width: auto;
}

.hero-content{
    font-family:"voyager-heavy";
    align-self: center;
    color: white;
    font-size:4rem;
}

